@(productForm: Form[Product])(implicit flash: Flash, lang: Lang)

    @import helper._
    @import helper.twitterBootstrap._

    @main(Messages("products.form")) {
        <h2>@Messages("products.form")</h2>

        @form(action = routes.Products.save()) {
            <fieldset>
                <legend>
                @Messages("products.details", Messages("products.new"))
                </legend>
                @inputText(productForm("ean"))
                @inputText(productForm("name"))
                @textarea(productForm("description"))
            </fieldset>
            <p><input type="submit" value='@Messages("products.new.submit")'></p>
        }
    }
